In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import pymysql
import csv
import pandas_profiling
import emoji
import pydotplus
import pydot
import scipy
import warnings
import matplotlib.pyplot
warnings.filterwarnings('ignore') 

from IPython.display import Image
from sqlalchemy import create_engine
from math import sqrt 

#SK Learn 
from sklearn.metrics import accuracy_score, classification_report,mean_squared_error,r2_score,mean_absolute_error
from sklearn.linear_model import LogisticRegression 
from sklearn.linear_model import LinearRegression 
from sklearn.neighbors import KNeighborsClassifier #KNN
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import linear_model
from sklearn.datasets import load_digits
from sklearn.tree import plot_tree
from sklearn.tree import export_text
from sklearn import metrics
from sklearn import preprocessing
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn import model_selection
from sklearn.metrics import confusion_matrix,precision_score,recall_score,accuracy_score,precision_recall_curve
from sklearn import tree
from sklearn.preprocessing import RobustScaler
%matplotlib inline

In [7]:
#df = pd.ExcelFile('Churn prediction data for web.xlsx')  
df = pd.read_excel('Churn prediction data for web.xlsx', engine='openpyxl')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107490 entries, 0 to 107489
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   UtilityAccountNumber  107490 non-null  object
 1   AccountNumber         107490 non-null  object
 2   PromoCode             4658 non-null    object
 3   AttritionByMonth      97765 non-null   float64
 4   EffectiveDate         103205 non-null  datetime64[ns]
 5   TerminationDate       47479 non-null   datetime64[ns]
 6   PremiseStatus         107490 non-null  object
 7   PremiseType           107490 non-null  object
 8   ServiceState          107487 non-null  object
 9   ContractType          105716 non-null  object
 10  GreenType             107490 non-null  int64
 11  IsAutoPay             107490 non-null  int64
 12  Commodity             107490 non-null  object
 13  ProductType           105291 non-null  object
 14  ProductTerm           105291 non-null  float64
 15  mastercompany         107490 non-null  object
 16  IsEBill               107490 non-null  int64
 17  Rate                  101298 non-null  float64
 18  AttritionType         41603 non-null   object
 19  SoldDate              107478 non-null  datetime64[ns]
 20  activebymonth         107490 non-null  int64
 21  Churn                 107490 non-null  int64
dtypes: datetime64[ns](3), float64(3), int64(5), object(11)
memory usage: 18.0+ MB

In [10]:
df.head()

,UtilityAccountNumber,AccountNumber,PromoCode,AttritionByMonth,EffectiveDate,TerminationDate,PremiseStatus,PremiseType,ServiceState,ContractType,...,Commodity,ProductType,ProductTerm,mastercompany,IsEBill,Rate,AttritionType,SoldDate,activebymonth,Churn
0,9221586008,002122006,NaN,NaN,NaT,NaT,ENROLLMENT REJECTED,RESIDENTIAL,PA,ENROLLMENT,...,ELECTRIC,NaN,NaN,SPARK,0,NaN,NaN,2010-12-02,0,0
1,51638504084MILL,002018647,NaN,NaN,NaT,NaT,ENROLLMENT REJECTED,RESIDENTIAL,CT,ENROLLMENT,...,ELECTRIC,NaN,NaN,SPARK,0,NaN,NaN,2011-08-22,0,0
2,1510002644020,002362074,NaN,NaN,NaT,NaT,ENROLLMENT REJECTED,RESIDENTIAL,CT,ENROLLMENT,...,ELECTRIC,NaN,NaN,SPARK,0,NaN,NaN,2015-06-08,0,0
3,51742283047,002339305,NaN,NaN,NaT,NaT,ENROLLMENT CANCELLED,RESIDENTIAL,CT,ENROLLMENT,...,ELECTRIC,NaN,NaN,SPARK,0,NaN,NaN,2015-05-13,0,0
4,5651026019,002108638,SAVE080,NaN,NaT,NaT,ENROLLMENT REJECTED,RESIDENTIAL,PA,ENROLLMENT,...,ELECTRIC,NaN,NaN,SPARK,0,NaN,NaN,2011-07-15,0,0

In [12]:
df.iloc[1]

UtilityAccountNumber        51638504084MILL
AccountNumber                     002018647
PromoCode                               NaN
AttritionByMonth                        NaN
EffectiveDate                           NaT
TerminationDate                         NaT
PremiseStatus           ENROLLMENT REJECTED
PremiseType                     RESIDENTIAL
ServiceState                             CT
ContractType                     ENROLLMENT
GreenType                                 0
IsAutoPay                                 1
Commodity                          ELECTRIC
ProductType                             NaN
ProductTerm                             NaN
mastercompany                         SPARK
IsEBill                                   0
Rate                                    NaN
AttritionType                           NaN
SoldDate                2011-08-22 00:00:00
activebymonth                             0
Churn                                     0
Name: 1, dtype: object